*.pkl
*.pcap
*.ipynb
development/
report/
imgs/
*.zip
data-nodes/
pcaps/
features/
old/
*.tar.gz
*.tex
*.cls
*.bib
todo.txt
fypenv/
__pycache__/
*.old
docker/client/*.py
docker/client-cuda/*.py
docker/server/*.py
